body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(228, 215, 177, 0.785);
}
#calculator{
    font-family: arial, sans-serif;
    background-color: hsl(0, 0%, 10%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;

}
#keys{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 20px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: 200;
    cursor:pointer;            /* whenever the mouse hovers over the buttons it changes to a pointer.*/
}
button:hover{
    background-color: hsl(0, 0%, 50%);
}

button:active{
    background-color: hsl(0, 0%, 60%);
}
.operator-btn{
    background-color: hsl(33, 80%, 45%);
}
.operator-btn:hover{
    background-color: hsl(33, 65%, 59%);
}
.operator-btn:active{
    background-color: hsl(33, 65%, 70%);
}
